

<div class="jumbotron mt-4">

    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, soluta officiis, blanditiis obcaecati illo voluptates vero doloremque amet at, ad quia eligendi saepe labore officia ut exercitationem numquam ex impedit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid officiis non earum vel in neque et nam ducimus? Labore nemo earum eum cum minima veniam nam. Eos, fugiat ducimus?</p>

    <a href="https://www.linkedin.com/in/nahedalvarez/" class="btn btn-primary btn-lg">linkedin</a>
</div>
